/* bg-primary: #f55926 */
/* bg-secondary: #f5ba26 */

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src: local('assets/fonts/avenir/AvenirLTStd-Book.otf') format('opentype');
}
body {
    margin: 0;
}
.bg-degraded {
    background: linear-gradient(#f55926, #f5ba26);
}

.main-principal {
    width: 100vw;
    height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.justify-center {
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.mt-1 {
    margin-top: 2px;
}

.mt-2 {
    margin-top: 4px;
}

.mt-3 {
    margin-top: 5px;
}

.mt-4 {
    margin-top: 7px;
}

.mt-5 {
    margin-top: 24px;
}

.pt-5 {
    padding-top: 24px;
}

#wrap {height: auto; min-height: 100%;}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.mb-1 {
    margin-bottom: 2px;
}

.mb-2 {
    margin-bottom: 4px;
}

.mb-3 {
    margin-bottom: 5px;
}

.mb-4 {
    margin-bottom: 7px;
}

.mb-5 {
    margin-bottom: 24px;
}

.w-100 {
    width: 100% !important;
}

.message-title {
    color: #FFFFFF;
    font-weight: 850;
    font-size: 18px;
    width: calc(100% - 50px);
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.message-subtitle {
    color: #FFFFFF;
    font-weight: 350;
    font-size: 14px;
    width: calc(100% - 50px);
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

