<div class="container-image-cl">

    <div class="image-src">
        <img height="250" width="250" src="{{ $ctrl.src }}" alt="">
    </div>
    <div class="remove-icon" ng-click="$ctrl.remove()">
        <img width="30" height="30" src="assets/images/remove-icon.png" alt="">
    </div>
</div>