.remove-icon {
    position: relative;
    top: -10px;
    right: -230px;
}

.image-src {
    position: absolute;
}

.container-image-cl {
    width: 250px;
    height: 250px;
    margin-right: 20px;
}