<div id="input-text-controller">
    <label>
        <textarea maxlength="{{ $ctrl.maxLength }}" placeholder="{{ $ctrl.placeholder }}" ng-model="$ctrl.value" ng-change="$ctrl.handleChange()">
             {{ $ctrl.value }}
        </textarea>
    </label>
    <div id="info" class="d-flex justify-between">
        <span>Puedes incluir {{ $ctrl.maxLength }} caracteres en el titulo</span>
        <span>{{ $ctrl.value.length }}/{{ $ctrl.maxLength - $ctrl.value.length }}</span>
    </div>
</div>