#input-text-controller {
    width: 100%;
    height: 100%;
}

textarea {
    border: 0;
    background-color: #f5f6f8;
    margin-top: 30px;
    width: calc(100% - 15px);
    height: calc(100% - 75px);
    appearance: none;
    border-bottom: 2px solid #9da1ac;
    padding-left: 8px;
    padding-right: 50px;
    color: #686e7f;
    font-size: 12px;
}

textarea:focus {
    outline: none !important;
}

#input-text-controller > span{
    color: #686e7f;
}

#input-text-controller > #info > span{
    color: #686e7f;
    font-size: 12px;
}
