<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="src/views/upload/add-photos/add-photos.css">
    <link rel="stylesheet" href="src/shared/main-bar-continue/main-bar-continue.css">
    <link rel="stylesheet" href="src/shared/container-image/container-image.css">
</head>
<body>
    <div ng-controller="uploadAddPhotosCtrl">

        <app-main-bar-continue
                show-button-continue="listUploadFiles.length > 0"
                active="listUploadFiles.length > 0"
                title="listUploadFiles.length > 0 ? 'Crear publicación': ''"
                on-back="onBack()"
                on-continue="onContinue()"
        ></app-main-bar-continue>
        {{ listUploadFiles.files.length }}
        <div id="container-add-photos">
            <div ng-if="listUploadFiles.length > 0">
                <div id="create-publication-info" class="d-flex flex-column">
                    <div class="info-important">
                        <span>Importante:</span>
                    </div>
                    <div class="d-flex info-note">
                        <span>
                            Recuerda que la primera foto de tu producto o servicio debe de ser en fondo blanco puro como este 👉
                        </span>
                        <div class="example-img">
                            <img src="assets/images/upload4.svg" alt="">
                        </div>
                    </div>
                    
                    <div class="container-images d-flex">
                        <app-img
                                ng-repeat="image in listUploadFiles"
                                remove="removeImage($index)"
                                src="getFileUrl(image)"
                        >
                        </app-img>
                    </div>

                </div>
                <div id="add-photos-icon" ng-click="openInputFile()" class="d-flex cursor-pointer flex-column align-items-center">
                    <div>
                        <img src="assets/images/upload5.svg" alt="">
                    </div>
                    <div class="add-photos-title">
                        <span>Agregar fotos</span>
                    </div>
                </div>
            </div>
            <div ng-if="listUploadFiles.length === 0" class="d-flex flex-column  align-items-center">
                <div class="upload-image">
                    <img src="assets/images/Upload3.svg" alt="">
                </div>
                <div class="add-photos-title-image">
                    <span>Elige las fotos para tu publicación</span>
                </div>
                <a ng-click="openInputFile()" class="btn-secondary d-flex justify-center align-items-center">
                    <span>Agregar fotos</span>
                </a>

            </div>


        </div>

        <input id="open-file" file-input ng-model="selectedFile" class="d-none" type="file" accept="image/png, image/jpeg">
    </div>
</body>
</html>