#container-add-photos {
    height: calc(100vh - 72px) !important;
    width: 100% !important;
    background-color: #f5f6f8;
    border-top: 1px solid #d3d3d3;
}

.upload-image {
    margin-top: 58px;
    margin-bottom: 10px;
}

.add-photos-title-image {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #686E7F;
    margin-bottom: 88px;
}

.btn-secondary {
    background: #FF7400;
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: white;
    width: calc(100% - 38px);
    height: 43px;
}

#create-publication-info {
    margin: 19px 19px;
    color: #686E7F;
    font-family: 'Avenir';
    font-style: normal;
}


.info-important {
    font-weight: 850;
    font-size: 16px;
    margin-bottom: 10px;

}
.info-note {
    text-align: justify;
    font-size: 14px;
}
.example-img {
    margin-left: 20px;
}
.container-images {
    margin-top: 47px;
}

.add-photos-title {
    color: #FF7400;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 3px;
}

#add-photos-icon {
    margin-top: 47px;

}