#container-category {
    height: calc(100vh - 72px) !important;
    width: 100% !important;
    background-color: #f5f6f8;
    border-top: 1px solid #d3d3d3;
}

.title-info {
    color: #686E7F;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 850;
    margin-top: 27px;
    margin-bottom: 53px;
}

.list-category {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

ol > li {
    margin-bottom: 20px;
}

