<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E</title>
    <link rel="stylesheet" href="src/shared/main-bar-continue/main-bar-continue.css">
    <link rel="stylesheet" href="src/shared/card-category/card-category.css">
    <link rel="stylesheet" href="src/views/category/category.css">

</head>
<body>
    <div ng-controller="categoryCtrl">
        <app-main-bar-continue
                active="selectedIndex !== -1"
                on-back="onBack()"
                on-continue="onContinue()"
                show-button-continue="true"
        ></app-main-bar-continue>
        <div id="container-category">
            <div class="title-info">
                <span>Selecciona las categorias a las cuales pertenesca tu producto o servicio</span>
            </div>
            <ol class="list-category">
                <li ng-repeat="item in list">
                    <app-card-category
                            image-url="'assets/images/categories/'+item.name+'.svg'"
                            title="item.title"
                            selected="selectedIndex === $index"
                            on-selected="onSelected($index)"
                    >
                    </app-card-category>
                </li>
            </ol>
        </div>
    </div>
</body>
</html>