.btn {
    background: #FFFFFF;
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 312px;
    height: 43px;
    font-weight: 700;
    color: #FF7400;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Rajdhani';
}