#upload-image-container-info {
    width: 100vw;
    height: 100vh;
}

.upload-title-info {
    color: white;
    font-style: normal;
    font-weight: 850;
    font-size: 18px;
    font-family: 'Avenir';
    text-align: center;
}

.upload-subtitle-info {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.container-info {
    margin-top: 47px;
    margin-left: 25px;
    margin-right: 25px;
}