<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="src/shared/btn-primary/btn-primary.css">
    <link rel="stylesheet" href="src/views/upload/info/info.css">
</head>
<body>
    <div ng-controller="uploadInformationCtrl">
        <div id="upload-image-container-info" class="bg-degraded d-flex flex-column">
            <div>
                <img
                        ng-click="onBack()"
                        class="cursor-pointer"
                        src="assets/images/ButtonBack.svg"
                        alt=""
                >
            </div>
            <div class="d-flex justify-center">
                <img
                        class="cursor-pointer"
                        src="assets/images/upload2.svg"
                        alt=""
                >
            </div>
            <div class="container-info d-flex flex-column align-items-center">
                <div class="upload-title-info">
                    <span>Sube buenas fotos de productos o servicios</span>
                </div>
                <div class="upload-subtitle-info">
                    <span>Asegurate de que tu primera foto este en fondo blanco puro como la imagen de arriba</span>
                </div>
                <btn-primary label="'continuar'" ng-click="onContinue()"></btn-primary>
            </div>
        </div>
    </div>
</body>
</html>