<div id="container-card-category" ng-click="$ctrl.onSelected()" ng-class="{ 'active': $ctrl.selected }" class="d-flex align-items-center flex-column">
    <div>
        <img src={{$ctrl.imageUrl}} alt="">
    </div>
    <div id="title-card-category">
        <span>
            {{ $ctrl.title }}
        </span>
    </div>
</div>