#container-card-category {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#container-card-category.active {
    border: 1px solid #FF7400;
    box-shadow: none;
}

#title-card-category {
    font-size: 18px;
    color: #686E7F;
}