<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmar mensaje</title>
    <link rel="stylesheet" href="src/shared/main-bar/main-bar.css">
    <link rel="stylesheet" href="src/shared/btn-primary/btn-primary.css">
</head>
<body>
    <div ng-controller="confirmationMessageCtrl">
        <div  class="bg-degraded main-principal">
            <app-main-bar
                    is-continue="false"
                    is-disabled-continue="false"
                    ng-click="buttonBack()"
            ></app-main-bar>
            <div class="d-flex pt-5 justify-center align-items-center">
                <img src="assets/images/Online2.svg" alt="">
            </div>
            <div class="message-title">
                <span>
                    Cuentanos como es tu producto, asi todos lo podran encontrar
                </span>
            </div>
            <div class="message-subtitle">
                <span>
                    Selecciona una categoria, detalla las caracteristicas del producto o servicio para que todos sepan que vendes.
                </span>
            </div>
        </div>
        <div id="footer">
            <div class="w-100 d-flex justify-center">
                <btn-primary label="'continuar'" ng-click="continue()"></btn-primary>
            </div>
        </div>
    </div>
</body>
</html>
