<div id="main-bar-continue" class="d-flex justify-between">
    <div >
        <img
            ng-click="$ctrl.onBack()"
            class="cursor-pointer"
            src="assets/images/ButtonBackContinue.svg"
            alt=""
        >
    </div>
    <span class="title-main-bar">{{ $ctrl.title }}</span>
    <div ng-click="$ctrl.onContinue()" id="btn-continue" ng-if="$ctrl.showButtonContinue" class="cursor-pointer" ng-class="{ 'active': $ctrl.active }">
        <span>Continuar</span>
    </div>
    <div ng-if="!$ctrl.showButtonContinue"></div>

</div>