#main-bar-continue {
    width: calc(100% - 6px);
    height: 72px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    background-color: white !important;
}

#btn-continue {
    width: 67px;
    height: 22px;
    background: #FF7400;
    opacity: 0.5;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#btn-continue.active {
    opacity: 1;
}

#btn-continue > span {
    margin: 5px;
}

.title-main-bar {
    color: #686e7f;
    font-weight: 500;
    font-size: 18px;
}