<div id="main-bar">
    <div >
        <img
            ng-click="$ctrl.back()"
            class="cursor-pointer"
            src="assets/images/ButtonBack.svg"
            alt=""
        >
    </div>

</div>